h1 {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

/* Botão editar */
.btn-editar {
  display: inline-block;
  margin: 15px auto;
  padding: 8px 25px;
  background-color: #4c53a9;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s;
  font-weight: bold;
}

.btn-editar:hover {
  background-color: #303894;
}

/* Container dos cards */
.cards-eventos {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 40px;
  margin: 60px auto 0 auto;
  max-width: 1800px;
  padding: 0 20px;
}

/* Card */
.card-evento {
  flex: 1 1 30%;
  min-width: 320px;
  max-width: 500px;
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  border: solid 30px #fff;
}

.card-evento img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* Corpo do card */
.card-body {
  padding: 15px 20px 20px 20px;
  text-align: left;
}

.card-title {
  font-size: 36px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.subtitulo {
  text-align: center;
  font-size: 24px !important;
  line-height: 0.3;
  opacity: 0.7;
}

/* Lista dentro do card */
.card-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.card-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-item img {
  width: 25px;
  height: 25px;
}

.img-star {
  position: relative;
  top: -15px !important;
}

.card-text {
  font-size: 23px;
  color: #333;
  margin: 0;
  line-height: 1.5;
}

.card-item p {
  font-size: clamp(18px, 2vw, 20px);
}

/* ---------- RESPONSIVIDADE ---------- */

/* Tablets (até 1024px) */
@media (max-width: 1150px) {
  .grid {
    grid-template-columns: 1fr;
    height: auto;
  }

  .card-title {
    font-size: 30px;
  }

  .subtitulo {
    font-size: 20px !important;
  }
}

/* Celulares grandes (até 768px) */
@media (max-width: 768px) {
  .cards-eventos {
    gap: 30px;
  }

  .card-evento {
    flex: 1 1 80%;
  }

  .card-evento img {
    height: 250px;
  }

  .card-title {
    font-size: 28px;
  }

  .card-text {
    font-size: 20px;
  }
}

/* Celulares pequenos (até 480px) */
@media (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  .btn-editar {
    padding: 10px 20px;
    font-size: 16px;
  }

  .cards-eventos {
    gap: 20px;
  }

  .card-evento {
    flex: 1 1 100%;
    border: solid 15px #fff;
  }

  .card-evento img {
    height: 200px;
  }

  .card-title {
    font-size: 24px;
  }

  .subtitulo {
    font-size: 18px !important;
  }

  .card-text {
    font-size: 18px;
  }
}
