body {
    margin: 0;
    padding: 0;
    font-family: 'Glacial', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.conteudo {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 40px;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    margin-top: 60px;
    letter-spacing: 2px;
    font-weight: bold;
}

.subtitulo {
    text-align: center;
    color: #aaa; 
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 60px;
}

.nome {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #ffff;
    position: relative;
    margin-bottom: 50px;
}

.nome::after {
    content: "";
    display: block;
    width: 85px;
    height: 4px;
    background-color: #303894;
    margin: 8px auto 0 auto;
    border-radius: 3px;
}

.filtros {
    display: flex;
    justify-content: center; 
    gap: 10px;      
    margin-top: 50px;        
    margin: 20px;          
}

.filtro-btn {
    padding: 8px 16px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.filtro-btn:hover {
    background-color: #555;
}

.filtro-btn.active {
    background-color: #303894;
}

.cards-container {
    display: flex; 
    gap: 20px;               
    flex-wrap: wrap;     
    justify-content: center;
}

.card {
    flex-direction: column;
    align-items: center;
    width: clamp(300px, 30%, 400px);
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    margin: 10px;
}

.card img {
    width: 100%;         
    height: 300px;     
    object-fit: cover;    
    display: block;       
}